---
import Layout from "../../layouts/Layout.astro";
import ArticleSnippet from "../../components/ArticleSnippet.astro";
import Section from "../../components/common/Section.astro";
import { getShortDescription, processContentInDir } from "../../lib/utils";
import type { ArticleFrontmatter } from "../../lib/types";

const projects = (
  await processContentInDir<ArticleFrontmatter, ArticleFrontmatter>(
    "blog",
    (data) => {
      const shortDescription = getShortDescription(
        data.frontmatter.description,
      );
      return {
        title: data.frontmatter.title,
        description: shortDescription,
        tags: data.frontmatter.tags,
        time: data.frontmatter.time,
        featured: data.frontmatter.featured,
        timestamp: data.frontmatter.timestamp,
        source: `blog/${data.frontmatter.source}`,
      };
    },
  )
).sort((a, b) => {
  const dateA = new Date(a.timestamp);
  const dateB = new Date(b.timestamp);
  return dateB.getTime() - dateA.getTime();
});
---

<Layout>
  <Fragment slot="head">
    <title>Thoughts, Rants, and Takes • RATIU5</title>
    <meta
      name="description"
      content="I share my perspective on web development, tech trends, and the occasional programming mishap. From hot takes on framework wars to genuine insights about building better tools, expect unfiltered thoughts and practical wisdom."
    />
    <meta property="og:title" content="Thoughts, Rants, and Takes • RATIU5" />
    <meta
      property="og:description"
      content="I share my perspective on web development, tech trends, and the occasional programming mishap."
    />
    <meta property="og:image" content="https://ratiu5.dev/profile.webp" />
    <meta property="og:url" content="https://ratiu5.dev/blog" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Thoughts, Rants, and Takes • RATIU5" />
    <meta
      name="twitter:description"
      content="I share my perspective on web development, tech trends, and the occasional programming mishap."
    />
    <meta name="twitter:image" content="https://ratiu5.dev/profile.webp" />
    <meta http-equiv="content-language" content="en" />
    <meta name="language" content="English" />
    <link rel="canonical" href="https://ratiu5.dev/blog" />
  </Fragment>
  <Section class="my-8">
    <div class="flex items-center gap-4 pt-8 pb-16">
      <h1 class="font-display text-3xl sm:text-4xl leading-loose">Articles</h1>
    </div>
    <ul>
      {
        projects.map((project) => (
          <li>
            <ArticleSnippet
              title={project.title}
              description={project.description}
              duration={`${project.time} min`}
              url={project.source}
              timestamp={project.timestamp}
            />
          </li>
        ))
      }
    </ul>
  </Section>
</Layout>
