---
import Anchor from "./common/Anchor.astro";

export type Props = {
  title: string;
  description: string;
  url: string;
  tags: string[];
  date?: string;
};

const { title, description, url, tags, date } = Astro.props;
---

<div class="flex flex-col gap-2 pb-8">
  <Anchor url={url} class="text-xl">
    {title}
  </Anchor>
  <p class="text-black dark:text-white">
    {description}
  </p>
  <div class="flex justify-between items-center">
    <div class="flex flex-row wrap gap-2">
      {
        tags.map((tag) => (
          <span class="px-2 py-1 text-sm bg-black text-white font-semibold dark:bg-white dark:text-black">
            {tag}
          </span>
        ))
      }
    </div>
    {date ? <p>{date}</p> : null}
  </div>
</div>
