---
import Section from "../../components/common/Section.astro";
import ProjectSnippet from "../../components/ProjectSnippet.astro";
import Layout from "../../layouts/Layout.astro";
import { getShortDescription, processContentInDir } from "../../lib/utils";
import type { ProjectFrontmatter } from "../../lib/types";

const projects = (
  await processContentInDir<ProjectFrontmatter, ProjectFrontmatter>(
    "projects",
    (data) => {
      const shortDescription = getShortDescription(
        data.frontmatter.description,
      );
      return {
        title: data.frontmatter.title,
        description: shortDescription,
        tags: data.frontmatter.tags,
        githubUrl: data.frontmatter.githubUrl,
        liveUrl: data.frontmatter.liveUrl,
        featured: data.frontmatter.featured,
        timestamp: data.frontmatter.timestamp,
        source: `/projects/${data.frontmatter.source}`,
      };
    },
  )
).sort((a, b) => {
  const dateA = new Date(a.timestamp);
  const dateB = new Date(b.timestamp);
  return dateB.getTime() - dateA.getTime();
});
---

<Layout>
  <Fragment slot="head">
    <title>Projects and Code • RATIU5</title>
    <meta
      name="description"
      content="A collection of my web development projects and developer tools, featuring both frontend and full-stack applications. These projects demonstrate my approach to solving real-world problems through clean code and thoughtful design."
    />
    <meta property="og:title" content="Projects and Code • RATIU5" />
    <meta
      property="og:description"
      content="A collection of my web development projects and developer tools, featuring both frontend and full-stack applications."
    />
    <meta property="og:image" content="https://ratiu5.dev/profile.webp" />
    <meta property="og:url" content="https://ratiu5.dev/projects" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Projects and Code • RATIU5" />
    <meta
      name="twitter:description"
      content="A collection of my web development projects and developer tools, featuring both frontend and full-stack applications."
    />
    <meta name="twitter:image" content="https://ratiu5.dev/profile.webp" />
    <meta http-equiv="content-language" content="en" />
    <meta name="language" content="English" />
    <link rel="canonical" href="https://ratiu5.dev/projects" />
  </Fragment>
  <Section class="py-4 my-8">
    <div class="flex items-center gap-4 pt-8 pb-16">
      <h1 class="font-display text-3xl sm:text-4xl leading-loose">Projects</h1>
    </div>
    <ul>
      {
        projects.map((project) => (
          <li>
            <ProjectSnippet
              title={project.title}
              description={project.description}
              url={project.source}
              githubUrl={project.githubUrl}
              liveUrl={project.liveUrl}
              tags={project.tags ?? []}
            />
          </li>
        ))
      }
    </ul>
  </Section>
</Layout>
